---
---

@import "{{ site.theme }}";

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
    font-display: swap;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

a.skip-to-content  {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-to-content:focus, a.skip-to-content:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

.logo img {
    width: 65%;
}

.logo, .project-tagline {
    width: 100%;
    padding: 0px;
    margin: 0;
    background: #fff;
    border-radius: 35px;
}

.project-tagline {
    margin-bottom: 2rem;
    font-weight: 800;
    opacity: 1.0;
    margin-top: 1em;
    padding: 10px 5px;
}

.page-header {
    color: #000;
    text-align: center;
    background-color: #fff;
    background-image: url(https://coronasurveys.org/assets/CDC_Coronavirus_2.webp);
    margin: 0;
    border-bottom: 1px solid #cacaca;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 70px;
}

#logos_resized-main img {
    max-width: 100%;
    margin: 20px;
}

.centered {text-align: center; }

.center-content p {text-align: center; }

.dropdown-section {
    padding: 2em;
    background: #37107d;
    text-align: center;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

select {
    font-size: 20px;
    color: #000;
    border: 3px solid;
    max-width: 100%;
    background: #fff;
}

    div#map {
    border-bottom: 1px solid #cacaca;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

div#map_zoom svg {
    stroke: #314d65!important;
    fill: #fff;
    background: #314d65;
    border-radius: 8px;
}

div#map_zoom {
    margin-left: 15px;
}

#map_zoom path {
    stroke: #000;
}

div#map_outer path {
    fill: #2a8c92;
    stroke: #000;
}

div#map_holder {
    z-index: 0;
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    background-color: #673AB7;
    color: #fff;
    border-style: solid;
    border-width: 0;
    border-radius: .3rem;
    transition: color .2s,background-color .2s,border-color .2s;
    font-size: 16px;
    /* text-align: center!important; */
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
    text-decoration: none;
}

.btn:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #2a8a90;
    border-color: rgba(0,0,0,0.2);
}

.btn a {
    color: #fff;
}

.data .btn {
    text-align: center;
    margin: 0 auto;
}

.main-content p {
    margin-bottom: 1em;
    text-align: center;
    border-bottom: 1px solid #cacaca;
    padding-bottom: 1rem;
}

.dropdown {text-align: center;}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #3d06a0;
    text-align: center;
}

.main-content p {
    margin-bottom: 1em;
    text-align: left;
}

#map_inner tspan {
    display: none;
}
.site-footer {
    padding-top: 1rem;
    margin-top: 0;
    border-top: solid 0px #eff0f1;
}

.site-footer .centered img {
    margin: 18px;
}

.site-footer-credits {
    color: #000000;
    margin: 20px;
    text-align: center;
}

@media (min-width: 64em){
.page-header {
    padding: 3rem 6rem!important;
}

.main-content {
    max-width: 95%;
    padding: 1rem;
    margin: 0 auto;
    font-size: 1.1rem;
}
} 

@media (max-width: 768px) {
	
.btn {
    width: 100%;
}	
}
