---
---

@import "{{ site.theme }}";

a#skip-to-content {
    display: none;
}

.logo img {
    width: 65%;
}

.logo {width: 100%; padding: 0px; margin: 0; background: #fff; }

.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 1.0;
}

.page-header {
    color: #000;
    text-align: center;
    background-color: #fff;
    background-image: none;
    margin: 10px 0px;
    border-bottom: 1px solid #333;
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
    background-color: #673AB7;
    border-color: rgba(0,0,0,0.2);
    border-style: solid;
    border-width: 0px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    font-size: 13px;
}

.btn:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #2a8a90;
    border-color: rgba(0,0,0,0.2);
}

#logos-main{
	text-align: center
}

.dropdown {text-align: center;}

#map_inner tspan {
    display: none;
}

@media screen and (min-width: 64em){
.page-header {
    padding: 0rem 6rem!important;
}

.main-content {
    max-width: 95%;
    padding: 0.5rem;
    margin: 0 auto;
    font-size: 1.1rem;
}
}
