---
---

@import "{{ site.theme }}";

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

a#skip-to-content {
    display: none;
}

.logo img {
    width: 65%;
}

.logo, .project-tagline {
    width: 100%;
    padding: 0px;
    margin: 0;
    background: #ffffffde;
    border-radius: 35px;
}

.project-tagline {
    margin-bottom: 2rem;
    font-weight: 800;
    opacity: 1.0;
    margin-top: 1em;
    padding: 10px 5px;
}

.page-header {
    color: #000;
    text-align: center;
    background-color: #fff;
    background-image: url(https://julianrob77.github.io/Coronasurveys-draft/assets/CDC_Coronavirus.jpg);
    margin: 0;
    border-bottom: 1px solid #cacaca;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 70px;
}

.main-content img {
    max-width: 100%;
    margin: 20px;
}

#logos-main {
    text-align: center;
    padding: 40px 0px;
    margin: 5% 0;
   border-bottom: 1px solid #cacaca;
}

center {
    padding-top: 3.5rem;
}

.dropdown-section {
    padding: 2em;
    background: #37107d;
    text-align: center;
}

select {
    font-size: 20px;
    color: #000;
    border: 3px solid;
    max-width: 100%;
}

    div#map {
    border-bottom: 1px solid #cacaca;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

div#map_zoom svg {
    stroke: #314d65!important;
    fill: #fff;
    background: #314d65;
    border-radius: 8px;
}

#map_zoom path {
    stroke: #000;
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
    background-color: #673AB7;
    border-color: rgba(0,0,0,0.2);
    border-style: solid;
    border-width: 0px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    font-size: 16px;
    text-decoration: none;
}

.btn:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #2a8a90;
    border-color: rgba(0,0,0,0.2);
}

.main-content p {
    margin-bottom: 1em;
    text-align: center;
    border-bottom: 1px solid #cacaca;
    padding-bottom: 1rem;
}

.dropdown {text-align: center;}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #3d06a0;
    text-align: center;
}

.main-content p {
    margin-bottom: 1em;
    text-align: center;
}

#map_inner tspan {
    display: none;
}

@media screen and (min-width: 64em){
.page-header {
    padding: 3rem 6rem!important;
}

.main-content {
    max-width: 95%;
    padding: 1rem;
    margin: 0 auto;
    font-size: 1.1rem;
}
} 
