<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/css/nav.css' | relative_url }}">
	  <script type="text/javascript" src="{{ 'assets/tarteaucitron/tarteaucitron.js' | relative_url}}"></script>

        <script type="text/javascript">
        tarteaucitron.init({
    	  "privacyUrl": "", /* Privacy policy url */

    	  "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
    	  "cookieName": "tarteaucitron", /* Cookie name */
    
    	  "orientation": "bottom", /* Banner position (top - bottom) */
    	  "showAlertSmall": true, /* Show the small banner on bottom right */
    	  "cookieslist": true, /* Show the cookie list */

    	  "adblocker": false, /* Show a Warning if an adblocker is detected */
    	  "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
    	  "highPrivacy": true, /* Disable auto consent */
    	  "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

    	  "removeCredit": true, /* Remove credit link */
    	  "moreInfoLink": true, /* Show more info link */
    	  "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */

    	  //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                          
    	  "readmoreLink": "/cookiespolicy" /* Change the default readmore link */
        });
        </script>

        <script type="text/javascript">
        tarteaucitron.user.gtagUa = 'UA-165674370-1';
        tarteaucitron.user.gtagMore = function (){ 'anonymize_ip': true};
        (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
        </script>
<link rel="manifest" href="{{ 'manifest.json' | relative_url }}">
<link rel="apple-touch-icon" sizes="57x57" href="{{ 'device-icons/apple-icon-57x57' | relative_url }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ 'device-icons/apple-icon-60x60' | relative_url }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ 'device-icons/apple-icon-72x72' | relative_url }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ 'device-icons/apple-icon-76x76' | relative_url }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ 'device-icons/apple-icon-114x114' | relative_url }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ 'device-icons/apple-icon-120x120' | relative_url }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ 'device-icons/apple-icon-144x144' | relative_url }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ 'device-icons/apple-icon-152x152' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ 'device-icons/apple-icon-180x180' | relative_url }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ 'device-icons/android-icon-192x192' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'device-icons/favicon-32x32' | relative_url }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ 'device-icons/favicon-96x96' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'device-icons/favicon-16x16' | relative_url }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ 'device-icons/ms-icon-144x144.png' | relative_url }}">  
  </head>
  <body>
    
    <a id="skip-to-content" href="#content">Skip to the content.</a>

  <div class="nav-wrapper">
    <nav class="nav">
      <button class="toggle-nav" type="button">
        <div class="burger -squeeze -offset" type="button">
          <span class="burger-lines"></span>
        </div>
      </button>
      <a class="logo-link" href="#">
        <img class="logo" id="logo" src= "{{ 'assets/logo_notext_coronasurveys.png' | relative_url }}" alt="Logo">
      </a>
      <ul class="nav-list" role="navigation">
        <div class="list -left">
          <li class="item">
            <a class="link" href="{{'/' | relative_url }}">Home</a>
          </li>
          <li class="item">
            <a class="link" href="{{'/team' | relative_url }}">Team</a>
          </li>
          <li class="item">
            <a class="link" href="{{'/FAQ' | relative_url }}">FAQ</a>
          </li>
          <li class="item">
            <a class="link" href="{{'/publications' | relative_url }}">Publications</a>
          </li>
          <li class="item">
            <a class="link" href="{{'/references' | relative_url }}">References</a>
          </li>
          <li class="item">
            <a class="link" href="{{ '/contact' | relative_url }}">Contact</a>
          </li>
        </div>
        <div class="list -right">
          <div class="overlay"></div>
        </div>
      </ul>
    </nav>
  </div>
      <header class="page-header" role="banner">
         <div class="logo">
          <img src= "{{ 'assets/coronasurveys_logo.png' | relative_url }}" >
      </div>

      <h2 class="project-tagline">@CoronaSurveys: Monitoring the Incidence of COVID-19 via Open Surveys</h2>
    </header>
	  
    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> and designed by Skyhaven Media</span>
      </footer>
    </main>
	</body>
<script src="{{ 'assets/js/simply-nav.js' | relative_url }}"></script>
<script src="{{ '/assets/js/mapdata.js' | relative_url }}"></script>   
<script src="{{ '/assets/js/worldmap.js' | relative_url }}"></script>
</html>
    
